*{
    font-family: 'Times New Roman', Times, serif;
   
}

body{
    margin: 0 auto;
    width: 100%;
}
header{
    text-align: center;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 75px;
}

form{
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px;
    border-radius: 12px;
    min-width: 50%;
    
}