body{
    font-family: "Montserrat", serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    
    background: rgb(222,252,215);
    background: linear-gradient(180deg, rgba(222,252,215,1) 0%, rgba(222,252,215,1) 25%, rgba(222,252,215,0.7484243697478992) 50%, rgba(222,252,215,0.499124649859944) 75%, rgba(222,252,215,0) 100%);
}
.alertas{
    background: rgb(222,252,215);
}
main{
    
    
    flex-grow: 1;
    justify-content: center;

}
table tr{
    
    
    vertical-align: middle;

}

footer{
    text-align: center;
    background: rgb(222,252,215);
    background: linear-gradient(0deg, rgba(222,252,215,1) 0%, rgba(222,252,215,1) 25%, rgba(222,252,215,0.7484243697478992) 50%, rgba(222,252,215,0.499124649859944) 75%, rgba(222,252,215,0) 100%);
}

.standarForm{
    border: groove rgb(222,252,215) 4px;
    
    margin: 5% 0;
    border-radius: 16px;
    max-width: 600px;
    width: 100%;
    max-height: fit-content;
    min-width: fit-content;
    padding: 30px;
    
}

.newForm{
    border: groove rgb(25, 135, 84) 4px;
    margin: 5% 0;
    border-radius: 16px;
    max-width: 600px;
    width: 100%;
    max-height: fit-content;
    min-width: fit-content;
    padding: 30px;
}
.deleteForm{
    border: groove rgb(220, 53, 69) 4px;
    margin: 5% 0;
    border-radius: 16px;
    max-width: 600px;
    width: 100%;
    max-height: fit-content;
    min-width: fit-content;
    padding: 30px;
}
.modForm{
    border: groove rgb(255, 193, 7) 4px;
    margin: 5% 0;
    border-radius: 16px;
    max-width: 600px;
    width: 100%;
    max-height: fit-content;
    min-width: fit-content;
    padding: 30px;
}
.searchForm{
    border: groove rgb(108, 117, 125) 4px;
    margin: 5% 0;
    border-radius: 16px;
    max-width: 600px;
    width: 100%;
    max-height: fit-content;
    min-width: fit-content;
    padding: 30px;
}
.showForm{
    border: groove rgb(13, 110, 253) 4px;
    margin: 5% 0;
    border-radius: 16px;
    max-width: 600px;
    width: 100%;
    max-height: fit-content;
    min-width: fit-content;
    padding: 30px;
}
.iniciar-sesion{
    
    text-align: center;
}

.container-lg{


    border: groove rgb(222,252,215) 4px;
    border-radius: 16px;
}

.container-forms{


    border: none;
    
}


.table tbody tr {
    height: 85px;
}
.miCard, .card-img-top{
    
    border: 3px ridge rgb(13, 110, 253)!important;
    border-radius: 0 !important;
}


.card-body{
    border: none;
}

/* .flex-fill{
    min-width: 20%;
} */
