body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
#ej1{
text-align: center;
}
  .container{
    align-items: center;
    max-width: fit-content;
    padding: 3px;
    border: solid 2px;
  }

  .form{
    padding: 5px 15px;
    
  }

  

  .num{
    text-align: center;
    width: 70px;
    max-width: fit-content;
    
    padding: 0px 1px;
  }
 .selectOper{
  text-align: center;
  }

  #envio{
    padding: 5px 20px;
    border: outset 2px rgb(255, 255, 255);
  }